category-encoders==2.8.0
fastparquet==2024.11.0
keras==3.8.0
matplotlib==3.10.0
networkx==3.4.2
numpy==2.0.2
pandas==2.2.3
pyarrow==19.0.0
pydantic==2.10.5
pyproj==3.7.0
scikit-learn==1.6.1
scipy==1.15.1
seaborn==0.13.2
tensorflow==2.18.0
